* {
    font-family: Georgia !important;
}

body {
max-width: 900px;
margin: auto;
}
.token {
    padding: 0 5px 0 5px;
}

.mark {
    background: rgba(232, 209, 0, 0.59);
}

.btn {
    cursor: pointer;
}

.error {
    display: none;
}

.name {
    font-weight: bold;
    font-style: italic;
}

.example {
    font-style: italic;
}

.book {
    background: #eee;
    padding: 0 3px;
    color: #c76c0c;
}

.citation {
    color: silver;
}

figcaption {
    color: orange;
    text-align: center;
}

div.blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

div.blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

@media only screen and (max-width:40em) {
    .tooltip::after, .tooltip::before {
        display: none;
    }
}
